:root{
  --red: f54e4e
  --green: 4ef54e
  --blue: 4e4ef5
  --yellow: f5f54e
  --white: ffffff
  --black: 000000
  --gray: 30384b
  --light-gray: 4b4b4b
  --dark-gray: 1f1f1f
  --light-red: f54e4e
  --light-green: 4ef54e
  --light-blue: 4e4ef5
  --light-yellow: f5f54e
}

body {
  background-color: #30384b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

button {
  background-color: #30384b;

  color: rgb(219, 217, 217);
  font-size: 1.5rem;
  border: none;
  display: inline-block;
  margin: 2rem;
  cursor: pointer;
  width: 50px;
}
button:hover {
  color: burlywood;
}
button:active {
  color: white;
}
label {
  display: block;
  font-size: 1rem;
  color: rgb(219, 217, 217);
  margin: 2rem;
}
