.slider {
  width: 100%;
  height: 10px;
  background-color: "transparent";
  border: 1px solid rosybrown;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.thumb {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.slider.green {
  border: 1px solid rgb(143, 188, 148);
}
.slider.green .thumb {
  background-color: rgb(143, 188, 148);
}
.card {
  background-color: #30384b;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
